<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Mains</h2>
  <% restaurant.menu.forEach(dish => { %>
    <% if (dish.category === 'mains') { %>        
        <p><%= dish.name %> <% if (dish.rating === 5) { %>
            ⭐️
        <% } %></p>
        <p><%= dish.details %></p>
        <p>Price: <%= dish.price %>, Rating: <%= dish.rating %></p><br />     
    <% }%>
  <% }) %>
  <h2>Sides</h2>
  <%restaurant.menu.forEach(dish => { %>
    <% if (dish.category === 'sides') { %>        
        <p><%= dish.name %> <% if (dish.rating === 5) { %>
            ⭐️
        <% } %></p>
        <p><%= dish.details %></p>
        <p>Price: <%= dish.price %>, Rating: <%= dish.rating %></p><br />     
    <% }%>   
  <% }) %>
  <h2>Desserts</h2>
  <%restaurant.menu.forEach(dish => { %>
    <% if (dish.category === 'desserts') { %>        
        <p><%= dish.name %> <% if (dish.rating === 5) { %>
            ⭐️
        <% } %></p>
        <p><%= dish.details %></p>
        <p>Price: <%= dish.price %>, Rating: <%= dish.rating %></p><br />   
    <% }%>   
  <% }) %>
<p>Dishes with a ⭐️ next to the name are guest favorites</p>
</body>
</html>
